# markdown basics
## markdown basics
### markdown basics
#### markdown basics
##### markdown basics

* **point1** (bold)
* *point2* (itallic)
* ***point3*** (both)
* normal text 
  *sublist 1
  *sublist 2

> 1. point1
> 2. point2

* []option 1
* []option 2
* []option 3

* google site -- [1]: http://www.google.com
* msn site -- [2]: https://www.msn.com

* []option 1
* google site -- [google][1]
[1]: http://www.google.com

### python basics

* python version 3.7
- functional programming
- object oriented programming
- scripting programming

In [1]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [2]:
print("hello, gitam", " ||| ",end = " ")
print("hyd",end = " ||| ")
print("python programming")

hello, gitam  |||  hyd ||| python programming

# Assignment

In [3]:
n1 = 100 # single variable assignment
a=b=c=20 # multi variable assignment of the same value
a1,b1,c1=111,222,333 # multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### data types and conversions

* int
* float
* string

In [4]:
a = 100
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [5]:
print("Hello world!\nHello world!")

Hello world!
Hello world!

In [6]:
i=100
print(type(i))

<class 'int'>

In [7]:
i=100
print(type(1))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))

<class 'str'>
<class 'int'>

In [9]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [10]:
a=1234
print(len(str(a)))

4

# reading a value
* input("msg") --string

In [11]:
s1 = input("enter name")
print(s1)
print(type(s1))

enter namenikitha
nikitha
<class 'str'>

In [12]:
n1=int(input("enter a number"))
print(n1,type(n1))

enter a number21
21 <class 'int'>

# operators
## arithematic operations
* +
* /
* -
* *
* %
* **
* //

In [13]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### precedence of arthmetic operators
* parenthsis
* power
* multiplication
* addition
 
 # left to right

In [14]:
x=1+2**3/4+5
print(x)

8.0

In [2]:
x= 1+ 2 ** 3 / 4 * 5

# relational operators
* ==
* !=
*  greater(>)
*  lesser(>)
* lesser or eq (<=)
*  greater or equal (>=)
# t or f

In [4]:
x=10
a1=x>15
print(a1)

False

# logical operators
* and
* or
* not

In [6]:
i=100
a=(i>15)and(i<800)
b=(i>15)and(i>800)
print(a)
print(b)

True
False

### conditional statements
* conditional statements
* looping statements

## if-else statements
#### if boolean_condition;
         statements
 #### else; 
         statements

In [8]:
n=int(input("enter a number"))
if n%2==0:
     print("even")
else:
     print("odd")

enter a number13
odd

In [14]:
n=int(input("enter a numb"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a numb21
no

In [12]:
n=int(input("enter a number"))
if n==0:
    print("zero")
elif n>0:
    print("positive number")
elif n<0:
    print("negative number")

enter a number2
positive number

In [15]:
n=30
v=10000
s=[n+v]
print(s)

[10030]